<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Wish on a Star</title>
    <link rel="stylesheet" href="/public/style.css">
    <script src="/apiKey.js" defer></script>
    <script src="/star.js" defer></script>
    <script src="/wish.js" defer></script>
</head>

<body>
   
    <section class="star">
        <h1> Wish Upon a Star </h1>
        <button id="getStarBtn">Stars</button>
        <div id="wish"></div>
    </section>
    
    <section class="wish hide ">
        <h1>Make Your Wish</h1>
        <input type="text" id="wishInput" placeholder="I Wish for ...">
        
        <button id="makeWishBtn">Wish</button>
    </section>
    
        <p id="wishResult" class="hide "></p>
   
</body>

</html>